/* ================================== Mobile styles ============================== */
h1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 1.23;
    color: var(--primary-black);
}

h3 {
    font-size: var(--font-size-medium);
    line-height: 1.11;
    font-weight: var(--font-weight-medium);
    color: var(--primary-black);
}

.userLogoModalButton {
    border: none;
    background-color: transparent;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-regular);
}

.iconClose {
    color: var(--primary-blue);
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.containerText {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

.buttonCans {
    width: 160px;
    height: 44px;
    background-color: var(--secondary-blue);
    border-radius: 10px;
    outline: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    color: #407bff;
}

.buttonLogout {
    width: 160px;
    height: 44px;
    background-color: var(--secondary-red);
    border-radius: 10px;
    outline: 0;
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
}

.containerAll {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

.containerButton {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
@media screen and (max-width: 767px) {
    .container {
        width: 280px;
        margin: 0 auto;
        padding: 0;
    }
    .containerButton {
        width: 232px;
        display: flex;
        flex-direction: column;
        gap: 24px;
       
    }
    .buttonCans {
        width: 232px;
    }
    .buttonLogout {
        width: 232px;
    }
}
/* ================================== Tablet styles ============================== */
@media screen and (min-width: 767px) {
    .container {
        width: 592px;
        margin: 0 auto;
    }
}

/* ================================== Desctop styles ============================= */
@media screen and (min-width: 1440px) {
    .container {
        width: 592px;
        margin: 0 auto;
    }

}