.blueIcon {
  color: var(--primary-blue);
  background-color: transparent;
  width: var(--icon-size-smaller);
  height: var(--icon-size-smaller);
}

.btn {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
