.blueIcon {
  color: var(--primary-blue);
  background-color: transparent;
  width: var(--icon-size-smaller);
  height: var(--icon-size-smaller);
}

.btn {
  background-color: transparent;
}

.container {
  position: fixed;
  top: 72px;
  right: 20%;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 118px;
  height: 88px;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  padding: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    right: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    top: 52px;
    right: 20px;
  }
}