.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 20px; */
  /* margin-top: 36px; */
}

.title {
  font-size: 18px;
  line-height: 24px;
  color: #407BFF;
  margin-bottom: 10px;
  /* text-align: left; */
}

.progressBarContainer {
  display: flex;
  align-items: center;
  /* width: 100%; */
  margin-bottom: 16px;
}

.progressTextNumber {
  display: flex;
  width: 280px;
  width: 100%;
  justify-content: space-between;
}

.progressText {
  font-size: 14px;
  color: #407BFF;
  /* margin: 0 10px; */
}

.progressBar {
  position: relative;
  flex-grow: 1;
  width: 256px;
  margin-left: 10px;
  margin-right: 14px;
  opacity: 0px;
  height: 8px;
  background-color: #D7E3FF;
  border-radius: 5px;
  margin-bottom: 16px;
}

.progress {
  /* height: 100%; */
  background-color: #9EBBFF;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 256px;
}

.thumb {
  position: absolute;
  top: -5px;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid #407BFF;
  border-radius: 50%;
  /* transform: translateX(-50%); */
}

.centerMark {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  color: #407BFF;
  font-size: 14px;
}

.addWaterButton {
  display: flex;
  justify-content: center;
  background-color: #407BFF;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.addWaterButton:hover {
  background-color: #407BFF;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
