.userLogoWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 122px;
  }
  
  .userLogoName {
    display: flex;
    flex-wrap: wrap;
    width: 74px;
    color: #2f2f2f;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 8px;
  }
  
  .userLogoImg {
    border-radius: 100px;
    width: 28px;
    height: 28px;
    margin-right: 4px;
  }

  .userInitial {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    color: #2f2f2f;
  }
  
  
  @media screen and (max-width: 768px) {
    .userLogoName {
      font-size: 14px;
    }
  
    .userLogoImg {
      width: 24px;
      height: 24px;
    }
  }
  
