/* ================================== Mobile styles ============================== */
h3 {
    color: var(--primary-black);
}
.Box {
    top: 30%;
    left: auto;
}
.error {
    line-height: 1.29;
    color: var(--secondary-red);
    font-weight: var(--font-weight-regular);
    font-size: 14px;    

}
.container {
    margin: 0 auto;
    }
.modalWindow {
    margin: 0 auto;
}
.groupRight {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.groupLeft {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.leftRightGroup {
    display: flex;
    gap: 24px;   
    margin: 0 auto;

}
.photo {
    border-radius: 100%;
    border: 1px solid var(--primary-white);
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.iconChange {
    color: var(--primary-blue);
    width: 16px;
    padding-right: 4px;
}
.change {
    display: none;
}
.link {
    cursor:  url(../../../public/mdi_cursor-pointer.png) 2 2, pointer;
    border: none;
    background-color: transparent;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
}
@media (max-width: 1400px) and  (min-width: 320px){
    .modalWindow {
    overflow-y: scroll;
    }
}
.field {
    position: relative;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid  var(--secondary-pale-blue);
    background-color: var(--primary-white);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-smaller);    
    color: var(--primary-blue);
    outline: 0;
}
.field:focus:invalid {
    border: 1px solid var(--secondary-red);
}
input:focus:invalid {
    border: 1px solid var(--secondary-red);
}

.label {
    color: var(--primary-black);
    font-size: var(--font-size-smaller);
    margin-bottom: 8px;    
}
.thumb {
    position: relative;
    display: flex;
    flex-direction: column;
}
.eye {
    position: absolute;
    right: 14px;
    top: 40px; 
    color: var(--primary-blue);    
}
.radio {
    margin-bottom: 52px;    
}
.changeAvatar {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    cursor:  url(../../../public/mdi_cursor-pointer.png) 2 2, pointer;
}
.changePhoto {
    cursor:  url(../../../public/mdi_cursor-pointer.png) 2 2, pointer;
}
.buttonSetting {
    border: none;
    background-color: transparent;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 8px;
}
.errorInput {
    border: 1px solid var(--secondary-red);
}
.iconClose {
    color: var(--primary-blue); 
    border: none;
    position: absolute;
    top: 20px; 
    right: 20px;
    width: 24px;
    height: 24px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.button {
    background-color:var(--primary-blue);
    color: var(--primary-white);
    border: none;
    border-radius: 10px;  
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}
.button:hover, button:focus {
    border: none; 
    
}
.rightBox {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
@media screen and (max-width: 767px) {
.container {
    width: 256px;
    margin: 0 auto;
}
.modalWindow {
    width: 280px;
}
.leftRightGroup {
    display: flex;
    gap: 24px;   
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
.rightBox {   
    margin-top: 24px;
    width: 256px;
}
.field {
    width: 256px;
}
.redField {
    width: 256px;
    height: 36px;
}
.thumb {
    position: relative;
}
.eye {
    position: absolute;
    right: 10px;
    top: 32px;
}
.button {
    width: 256px;
    height: 36px;
}
}
/* ================================== Tablet styles ============================== */
@media screen and (min-width: 767px) {
.container {
    width: 656px;
}

.modalWindow {
    width: 704px; 
}
.leftRightGroup {
    display: flex;
    gap: 24px;   
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
.rightBox {   
    margin-top: 24px;
    width: 656px;
    align-items: flex-end;
}
.field {   
    width: 392px;
    height: 44px;
}
.redField {
    width: 392px;
    height: 44px;
}
.button {
    width: 160px;
    height: 44px;
}

}
/* ================================== Desctop styles ============================= */
@media screen and (min-width: 1440px) {
.container {
    width: 960px;
}
.modalWindow {
    width: 1008px;
}
.groupRight {
    align-items: flex-start;    
    width: 544px;
}
.leftRightGroup {
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;

}
.field {
    width: 392px;
    height: 44px;
    padding: 10px 12px;
}

.thumb {
    position: relative;
}
.eye {
    position: absolute;
    right: 14px;
    top: 40px;   
}
.button {   
    width: 160px;
    height: 44px;    
}
.button:hover, button:focus {
    border: none; 
    
}
.rightBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 24px;
    width: 960px;
}
}

@media (max-width: 1400px) and  (min-width: 320px){
    .modalWindow {
      overflow: scroll;
    }
  }
