.logoWraper {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 102px;
  }
  
  .logoTekst {
    color: var(--dark-blue, #407bff);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  
  
  @media screen and (min-width: 768px) {}
  
  @media screen and (min-width: 1440px) {}
  