/*======MODAL DELETE MOBILE STYLE START=======*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalDelete {
  background-color: var(--primary-white);
  border-radius: var(--border-radius-smaller);
  padding: 32px 24px;
  min-width: 280px;
  margin: 0 auto;
  position: relative;
}

.crossSvg {
  position: absolute;
  top: 32px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.crossSvg svg {
  width: var(--icon-size-base);
  height: var(--icon-size-base);
  fill: var(--primary-blue);
}

.deleteQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 24px;
}

.deleteEntry {
  color: #2f2f2f;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
}

.sure {
  color: #2f2f2f;
  width: 207px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.choiseBtns {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.btnCancel {
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  background-color: #d7e3ff;
  color: #407bff;
}

.btnDel {
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  background-color: #ef5050;
  color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
}
/*======MODAL DELETE MOBILE STYLE END=======*/

.todayWaterList {
  position: relative;
  background-color: #ecf2ff;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  max-width: 280px;
  /* margin: 0 auto; */
  flex: 1;
  /* overflow-y: auto; */
  /* padding: 0 8px; */
}

.title {
  font-size: 24px;
  color: #2f2f2f;
  position: sticky;
  top: 0;
  background-color: #ecf2ff;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 10px;
  z-index: 1;
}

.noNotes {
  color: var(--primary-blue-color, #407bff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 152px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  height: 200px;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #9ebbff;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7e3ff;
  height: 50px;
}

.value {
  display: flex;
  align-items: center;
}

.amount {
  font-size: 18px;
  color: #407bff;
  margin-right: 16px;
}

.time {
  font-size: 12px;
}

.btnPencil,
.btnTrash {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.btnPencil:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 16px;
  height: 1px;
  background-color: #9ebbff;
}

.btnTrash:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 16px;
  height: 1px;
  background-color: #ef5050;
}

.btnAll {
  display: flex;
  margin-right: 6px;
  align-items: center;
}

.iconPencil {
  width: 16px;
  height: 16px;
  color: #9ebbff;
  background-color: #ecf2ff;
  border-radius: none;
}

.iconDelete {
  width: 16px;
  height: 16px;
  color: #ef5050;
}

.iconGlass {
  width: 36px;
  height: 36px;
  color: #407bff;
  margin-right: 12px;
}

.crossSvg {
  width: 16px;
  height: 16px;
  fill: #888;
  cursor: pointer;
}

.addWaterButton {
  font-size: 16px;
  position: sticky;
  bottom: 0.2px;
  text-align: left;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #ecf2ff;
  color: #407bff;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.addWaterButton:hover {
  background-color: #ecf2ff;
  color: #ff9d43;
}

@media screen and (min-width: 768px) {
  .todayWaterList {
    max-width: 704px;
    padding: 0 24px;
    padding-top: 16px;
  }

  .list {
    height: 158px;
  }

  /*======MODAL DELETE TABLET STYLE START=======*/
  @media screen and (min-width: 768px) {
    .modalDelete {
      min-width: 592px;
    }

    .sure {
      width: 338px;
      font-size: 18px;
    }

    .deleteQuestion {
      align-items: unset;
    }

    .choiseBtns {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      row-gap: unset;
      column-gap: 24px;
    }

    .btnCancel {
      width: 160px;
      height: 44px;
      padding: 10px 30px;
      font-size: 18px;
      line-height: 1.33;
    }

    .btnDel {
      width: 160px;
      height: 44px;
      padding: 10px 30px;
      font-size: 18px;
      line-height: 1.33;
    }
    /*======MODAL DELETE TABLET STYLE END=======*/
  }
}

@media screen and (min-width: 1440px) {
  .todayWaterList {
    max-width: 592px;
  }

  .item {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}
