.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  column-gap: 26px;
  row-gap: 16px;
  position: relative;
}

.item {
  display: flex;
  flex-direction: center;
  align-items: center;
  width: calc((100% - 5 * 26px) / 6);
}

.calendarLoader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff99;
}

@media screen and (min-width: 768px) {
  .list {
    column-gap: 34px;
    row-gap: 20px;
  }

  .item {
    width: calc((100% - 9 * 34px) / 10);
  }
}

@media screen and (min-width: 1440px) {
  .list {
    column-gap: 20px;
  }

  .item {
    width: calc((100% - 9 * 20px) / 10);
  }
}
