.calendarList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 26px;
  width: 100%;
}

.calendarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  width: calc((100% - 5 * 21px) / 6);
}

@media screen and (min-width: 375px) {
  .calendarList {
    justify-content: space-between;
    width: 100%;
    gap: 26px;
    display: flex;
  }

  .calendarItem {
    width: calc((100% - 5 * 21px) / 6);
  }
}

@media screen and (min-width: 768px) {
  .calendarList {
    column-gap: 16px;
  }

  .calendarItem {
    width: calc((100% - 6 * 21px) / 8);
  }
}