.modalContainer {
    padding: 32px 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.formContainer {
    margin-bottom: 24px;
}

.modalStyle {
    position: absolute;
    width: 592px;
    background-color: var(--primary-white);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dailyCloseContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.iconClose {

    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--primary-blue);
}

.title {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 20px; */

}


.formulaTitleContainer {
    display: flex;
}

.formulaContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.formulaTitle {
    color: var(--primary-black);
    padding: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.formula {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color: var(--primary-blue);
}

.formulaContainer div {
    display: flex;
    align-items: center;
}

.containerFormulaDescription {
    border: 1px solid #D7E3FF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 34px;
}

.formulaDescription {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8F8F8F;

}

.formulaDescription span {
    color: var(--primary-blue);
}

.genderContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}

/* .radioLabel {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #007bff;
}
 */

.formTitle {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    color: var(--primary-black);
}


.radioLabel {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    padding-left: 30px;

    color: var(--primary-black);

}

.radioLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioLabel .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--primary-blue);

    transform: translateY(-50%);
}

.radioLabel input:checked+.checkmark {
    background-color: transparent;

    border-color: var(--primary-blue);
}

.radioLabel .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.radioLabel input:checked+.checkmark::after {
    display: block;
}

.radioLabel input:checked+.checkmark::after {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary-blue);
    transform: translate(-50%, -50%);
}




.label {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.inputField {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--primary-blue);
}

.inputField::placeholder {
    color: var(--primary-blue);
}

.inputField.error {
    border-color: #EF5050;
}

.errorText {
    color: #EF5050;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
}

.resultContainer {
    margin: 16px 0 24px;
    display: flex;
    gap: 6px;
}

.resultText {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-black);
}

.resultValue {
    font-size: 18px;
    color: var(--primary-blue);
    font-weight: bold;
}

.labelNorma {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    color: var(--primary-black);

}

.saveButton {
    background-color: var(--primary-blue)f;
    border: none;

    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: var(--primary-blue);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 30px;
    width: 160px;
    height: 44px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;

    color: var(--primary-white);


}

.containerButton {
    display: flex;
    justify-content: flex-end;
}

.saveButton:hover {
    background-color:var(--primary-blue);
}


@media (max-width: 767px) {
    .modalContainer {

        padding: 24px 12px;
    }

    .modalStyle {
        width: 280px;
    }

    .formulaContainer {
        display: flex;
        flex-direction: column;
    }

    .containerFormulaDescription {

        width: 256px;
    }

    .saveButton {
        padding: 8px 30px;
        width: 256px;
    }

    .resultText {

        width: 190px;
    }

    .resultContainer {
        align-items: center;
    }
        .formulaContainer{
            gap: 16px;
        }
}

@media (min-width: 768px) and (max-width: 1024px){
.modalStyle{width: 704px;}

}