.background {
  background-image: url('/project-successful-minds-07/images/signin/mobile-background.png');
  background-repeat: no-repeat;
  background-position: left 0px top 28px;
  background-size: cover;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
}
.image {
  background: url('/project-successful-minds-07/images/signin/mobile-bottle.png')
    no-repeat;
  width: 280px;
  height: 210px;
}
.container {
  width: 320px;
  margin: 0 auto;
  background-color: transparent;
  /* padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px; */
  /* height: 100vh; */
  text-align: left;
  color: var(--primary-black);
  position: relative;
}

.container_signin {
  /* padding: 0 20px; */
  width: 280px;
  /* height: 304px; */
}

.title {
  color: var(--primary-black);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}
.container_links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.link {
  text-decoration: none;
  color: var(--primary-blue);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-regular);
}

@media screen and (min-width: 768px) {
  .container {
    width: var(--container-medium-width);
    height: 680px;
    /* position: relative; */
    background-image: url('/project-successful-minds-07/images/signin/tablet-signin.png');
    background-repeat: no-repeat;
    background-position: left 0px top -108px;
    background-size: cover;
  }
  .background {
    background-image: none;
    flex-direction: row;
    height: 532px;
  }
  .container_signin {
    /* display: flex; */
    /* flex-direction: row; */
    position: relative;
    top: -112px;
    width: 336px;
    height: 312px;
    padding: 0 20px;
  }

  .image {
    /* background-image: url('/project-successful-minds-07/images/signin/tablet-bottle.png');
    background-repeat: no-repeat;
    background-size: cover;
     background-position: left 112px top 116px; 
     width: 736px;
    height: 548px;
    position: absolute;
    top: 52px;
    left: 80px; */
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1404px;
    height: 582px;
    background-image: url('/project-successful-minds-07/images/signin/desktop-background.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    margin: 0 18px;
  }
  .background {
    width: 1216px;
    height: 680px;
    background-color: transparent;
    gap:0px;
  }
  .image {
    display: block;
    background-image: url('/project-successful-minds-07/images/signin/desktop-bottle.png');
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
    /* background-size: cover; */
    width: 916px;
    height: 680px;
  }
  .container_signin {
    left:-51px;
    top:50px;
    width: 384px;
  }
}

