.headerSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 280px;
    padding: 8px 20px 12px 20px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    .headerSection {
      min-width: 704px;
      padding: 16px 32px 20px 32px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .headerSection {
      max-width: 1216px;
      padding: 12px 0 0 0;
    }
  }
