
.headerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1024px; */
    padding-top: 20px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 23px;
}

@media screen and (min-width: 768px) {
    .headerWrapper {
        margin: 0 33px;
    }
}

@media screen and (min-width: 1440px) {
    .headerSection {
        padding-top: 20px;
    }

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 80px;
    }
}