.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: #407bff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: 1px solid transparent;
  width: 14px;
  height: 14px;
}

.button:focus {
  outline: 1px solid transparent;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  width: 14px;
  height: 14px;
  color: #407bff;
}

.icon:hover {
  color: #ff9d43;
}
