.sectionModal {
  background-color: var(--primary-white);
  border-radius: var(--border-radius-smaller);
  padding: 24px 12px;
  min-width: 280px;
  margin: 0 auto;
  position: relative;
}

.sectionHeader {
  width: 200px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-align: start;
  margin-bottom: 24px;
  line-height: var(--line-height-normal);
  color: var(--primary-black);
}

.crossBtn {
  position: absolute;
  top: 24px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.crossBtn svg {
  width: var(--icon-size-base);
  height: var(--icon-size-base);
  fill: var(--primary-blue);
}

.formEditInfo {
  display: flex;
  flex-direction: column;
}

.itemWrapper {
  border-radius: 10px;
  background-color: #ecf2ff;
  display: flex;
  width: 256px;
  height: 52px;
  align-items: center;
  padding: 8px 24px;
  margin-bottom: 24px;
}

.dateAmount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.amount {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: #407bff;
  margin-right: 16px;
}

.date {
  color: #2f2f2f;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.amountCorrection {
  display: flex;
  flex-direction: column;
}

.enteredData {
  margin-bottom: 16px;
  color: var(--primary-black);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-extra-tight);
}

.amountWaterTitle {
  margin-bottom: 12px;
  color: var(--primary-black);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-relaxed); /* 125% */
}

.amountCalc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
  gap: 7px;
}

.amountBtnDec,
.amountBtnInc {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: 1px solid var(--secondary-blue);
  padding: 10px;
  border-radius: var(--border-radius-large);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-lighter);
}

.amountBtnDec svg,
.amountBtnInc svg {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
  fill: var(--primary-blue);
}

.spanAmount {
  width: 92px;
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-larger);
  background-color: var(--secondary-pale-blue);
  color: var(--primary-blue);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-loose);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.recordingTime {
  margin-bottom: 12px;
  color: var(--primary-black);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-relaxed);
}

.inputWrapper input[type='time'],
.inputWrapper input[type='number'] {
  margin-bottom: 24px;
  padding: 12px 10px;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--secondary-pale-blue);
  color: var(--primary-blue);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-relaxed);
  width: 256px;
  height: 42px;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type='time']::-moz-focus-inner {
  border: 0;
}

.numberTopic {
  width: 240px;
  margin-bottom: 16px;
  color: var(--primary-black);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-extra-tight);
}

.saveBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalAmountSave {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.finalAmountSave p {
  color: var(--primary-blue);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-loose);
}

.finalAmountSave button {
  width: 256px;
  height: 36px;
  padding: 8px 30px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  box-shadow: var(--box-shadow-regular);
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-relaxed);
  border-radius: var(--border-radius-smaller);
  border: none;
  cursor: pointer;
}

/* tablet */
@media screen and (min-width: 768px) {
  .sectionModal {
    padding: 32px 24px;
    min-width: 704px;
  }

  .sectionHeader {
    width: 384px;
  }

  .crossBtn {
    top: 32px;
    right: 24px;
  }

  .itemWrapper {
    width: 254px;
  }

  .inputWrapper input[type='time'],
  .inputWrapper input[type='number'] {
    width: 544px;
  }

  .numberTopic {
    width: 348px;
  }

  .saveBtnWrapper {
    justify-content: flex-end;
  }

  .finalAmountSave {
    flex-direction: row;
    gap: 24px;
  }

  .finalAmountSave button {
    width: 160px;
    height: 44px;
    padding: 10px 30px;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-loose);
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .sectionModal {
    min-width: 592px;
  }

  .inputWrapper input[type='time'],
  .inputWrapper input[type='number'] {
    width: 544px;
  }
}
