.container {
  background-color: var(--primary-white);
  text-align: left;
  color: var(--primary-black);
  background-image: url('/project-successful-minds-07/images/signin/mobile-background.png'),
    url('/project-successful-minds-07/images/signin/mobile-bottle.png');
  background-repeat: no-repeat no-repeat;
  background-position: top, center 350px;

  height: 600px;
  margin: 0 auto;
  width: var(--container-min-width);
}
.container_update {
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}
.background {
}
.title {
  color: var(--primary-black);
}
.link {
  text-decoration: none;
  color: var(--primary-blue);
}
.image {
  background: no-repeat;
}

/* +++++++++++++++++++++++Tablet styles++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--container-medium-width);
    background-image: url('/project-successful-minds-07/images/signin/table-background.png'),
      url('/project-successful-minds-07/images/signin/tablet-bottle.png');
    background-repeat: no-repeat;
    background-position: left 90% top -10px;

    width: 768px;
    height: 680px;
    margin: 0 auto;
  }
  .container_update {
    flex-direction: row;
    display: flex;
  }
}

/* +++++++++++++++++++++++Desktop styles++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 1440px) {
  .container {
    width: 1404px;
    height: 582px;
    background-image: url('/project-successful-minds-07/images/signin/desktop-background.png'),
      url('/project-successful-minds-07/images/signin/desktop-bottle.png');
    background-repeat: no-repeat;
    background-position: bottom right 500px;
    height: 680px;
    max-width: var(--container-max-width);
  }
  .container_update {
    flex-direction: row-reverse;
    gap: 312px;

    height: 582px;
  }
  .background {
    width: 500px;
  }
}
