* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  cursor:  url(./././public/mdi_cursor-pointer.png) 2 2, pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
button:active,
button:focus {
  border: none;
}
