/* .container {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 52px;
  align-items: center;
  row-gap: 24px;
	column-gap: 16px;
} */

.button {
  border-radius: 20px;
  /* border: 1px solid #ff9d43; */
  background-color: #fff;
  display: flex;
  padding: 7px 6px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 27px;
  color: #2f2f2f;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 4px;
}

.text {
  color: #9ebbff;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  /* .container {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 58px;
  align-items: center;
  justify-content: space-between;
} */

  .button {
    /* border: 1px solid #ff9d43; */
    padding: 7px;
    width: 27px;
    height: 27px;
    font-size: 16px;
    line-height: 1.25;
  }

  .text {
    font-size: 13px;
    line-height: 1.54;
  }
}

@media only screen and (min-width: 1440px) {
  /* .container {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 58px;
  align-items: center;
  justify-content: space-between;
} */

  .button {
    /* border: 1px solid #ff9d43; */
  }

  .text {
    font-size: 12px;
    line-height: 1.5;
  }
}
