@media screen and (max-width: 767px){
  .homePage {
      background-color: var(--primary-white);
      background: url('../../../public/imgHomePage/Background_element_mobile.png'), url('../../../public/imgHomePage/Botle_mobile.png');
      background-repeat: no-repeat;
      width: var(--container-min-width);
      height: 1374px;
      background-position: center 52px, center 106px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin: 0 auto;
    }

    /* @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
      .homePage {
        background: url('../../../public/imgHomePage/Background_element_mobile_2x.png');
        background-repeat: no-repeat;
      }
    } */
  
    .container {
      max-width: var(--container-min-width);
      padding: 0 20px;
      margin-top: 330px;
    }
  
    .leftColumn,
    .rightColumn {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 20px;
      /* margin-top: 16px; */
    }

   
    @media screen and (min-width: 768px) {
      .container {
        flex-direction: row;
      }
  
      .leftColumn,
      .rightColumn {
        max-width: 50%;
      }
    }
  
    @media screen and (min-width: 1440px) {
      .container {
        flex-direction: column;
  
      }
  
      .leftColumn,
      .rightColumn {
        max-width: 100%;
      }
    }
}


/* url('../../../public/imgHomePage/Botle_mobile.png'), */