.homePage {
      background-color: var(--primary-white);
      background: url('../../../public/imgHomePage/Background_element_mobile.png'), 
        url('../../../public/imgHomePage/Botle_mobile.png');
      background-repeat: no-repeat;
      width: var(--container-min-width);
      height: 1374px;
      background-position: center 52px, center 106px;
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      align-items: start;
      /* margin: 0 auto; */
    }

    /* @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
      .homePage {
        background: url('../../../public/imgHomePage/Background_element_mobile_2x.png'), url('../../../public/imgHomePage/Botle_mobile_2x.png');
        background-repeat: no-repeat;
      }
    } */
  
    .container {
      max-width: var(--container-min-width);
      /* padding: 0 10px; */
      margin-top: 330px;
    }
  
    /* .leftColumn,
    .rightColumn {
      display: flex;
      flex-direction: column;
      gap: 20px;
    } */

   
   
@media screen and (min-width: 768px) {
  
  .homePage {
    background: url('../../../public/imgHomePage/Background_element_tablet.png'),
      url('../../../public/imgHomePage/Botle_tablet.png');
    background-repeat: no-repeat;
    /* background-position: center 52px, center 106px; */
    width: var(--container-medium-width);
    height: 1280px;
    margin-top: 40px;
  }

  .container {
    max-width: var(--container-medium-width);
    /* flex-direction: row; */
    padding: 0 32px;
  }

     .leftColumn,
     .rightColumn {
       max-width: 50%;
     }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--container-max-width);
    margin-top: 22px;
  }

  .homePage {
    background-color: var(--primary-white);
    background-image: url('../../../public/imgHomePage/Background_element_desctop.png'),
      url('../../../public/imgHomePage/Botle_desctop.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 680px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: start;
    /* flex-direction: row; */
  }

  
    .leftColumn,
    .rightColumn {
      max-width: 100%;
    }
}