.homePage {
  background-color: var(--primary-white);
  background-image: url('/project-successful-minds-07/imgHomePage/Background_element_mobile.png'),
    url('/project-successful-minds-07/imgHomePage/Botle_mobile.png');
  background-repeat: no-repeat;
  max-width: var(--container-min-width);
  height: 1374px;
  background-position: center 52px, center 84px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
}

/* 
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .homePage {
  background: url('../../../public/imgHomePage/Background_element_mobile_2x.png'), url('../../../public/imgHomePage/Botle_mobile_2x.png');
  background-repeat: no-repeat;
  }
} */

.leftColumn {
  padding-top: 310px;
  margin: 0 112px 0 32px;
}

  .rightColumn {
    width: 100%;
  }

  .norma {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;

    border: 1px solid #ecf2ff;
    border-radius: 10px;
    padding: 8px 20px;
    min-width: 164px;
    height: 76px;

    box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
    background: #fff;
  }



  @media screen and (min-width: 768px) {

    .homePage {
      background-image: url('/project-successful-minds-07/imgHomePage/Background_element_tablet90.png'),
        url('/project-successful-minds-07/imgHomePage/Botle_tablet.png');
      background-repeat: no-repeat;
      background-position: center -50px, center -20px;
      max-width: var(--container-medium-width);
      height: 1280px;
      margin-top: 40px;
      padding: 0 32px;
    }

    .leftColumn {
      padding-top: 542px;
    }

}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--container-max-width);
    margin-top: 665px;
  }

  .homePage {
    background-color: var(--primary-white);
    background-image: url('/project-successful-minds-07/imgHomePage/Background_element_desctop.png'),
      url('/project-successful-minds-07/imgHomePage/Botle_desctop.png');
    background-repeat: no-repeat;
    background-position: center, left 50px top -50px;
    max-width: 1440px;
    height: 680px;
    display: flex;
    align-items: start;
    flex-direction: row;
  }

  .leftColumn {
    margin-top: 180px;
    margin-left: 35px;
  }
}



