.container {
  width: var(--container-min-width);
    background-color: var(--primary-white);
  height: 100vh;
  text-align: left;
  color: var(--primary-black);
  /* background-color: rgb(242, 183, 183); */
  /* padding: 0 20px; */
  position: relative;
}
.container_signin{
  /* margin-bottom: 66px;  */
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}
.background{
    background:url('../../../public/images/signin/mobile-background.png') no-repeat;
    width: 320px;
}
.title {
  color: var(--primary-black);
}
.link {
  text-decoration: none;
  color: var(--primary-blue);
}
.image{
    background: url('../../../public/images/signin/mobile-bottle.png') no-repeat;
    width: 280px;
    height: 210px;
}
@media screen and (min-width: 768px) {
  .container {
    width: var(--container-medium-width);
    
  }
  .container_signin{
    /* display: flex; */
    flex-direction: row;
  }
  .background{
    background:url('../../../public/images/signin/table-background.png') no-repeat;
    width: 768px;
}

  .image{
    background: url('../../../public/images/signin/tablet-bottle.png') no-repeat;
    width: 736px;
    height: 548px;
    position: absolute;
    top: 116px;
    left: 112px;
}
}
@media screen and (min-width: 1440px) {
  .container {
    width: var(--container-max-width);
  }
  .container_signin{
    flex-direction: row-reverse;
  }
  .background{
    background:url('../../../public/images/signin/desktop-background.png') no-repeat;
    width: 768px;
}

  .image{
    background: url('../../../public/images/signin/desktop-bottle.png') no-repeat;
    width: 916px;
    height: 680px;
}
}
