.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: var(--primary-black);
}

.link {
  font-weight: 500;
  color: var(--primary-blue);
  text-decoration: underline;
  cursor: url(./././public/mdi_cursor-pointer.png) 2 2, pointer;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 20px;
    padding: 20px;
  }

  .link {
    font-size: 18px;
  }
}








/* .text {
  padding: 50px;
  font-weight: 500;
  font-size: 25px;
  color: var(--primary-black);
}

.link {
  font-weight: 500;
  color: var(--primary-blue);
} */
